<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsgQS5j9S_oTebYUh-rGeYzIFFdvohcTY</string>
	<key>GCM_SENDER_ID</key>
	<string>663934079662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>project.fountaFitness</string>
	<key>PROJECT_ID</key>
	<string>fountafitness</string>
	<key>STORAGE_BUCKET</key>
	<string>fountafitness.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663934079662:ios:5ffef3e87ba798fad6d33f</string>
</dict>
</plist>